# Python
__pycache__/
*.pyc
.venv/

# Node
node_modules/
dist/

# VSCode
.vscode/

# Backend generated data / caches
backend/data/

# osmnx / requests-cache
.cache/osmnx/
.osmnx_cache/
requests-cache.sqlite

# ignore generated/cache/data
backend/data/
*.sqlite
*.cache
.osmnx_cache/
.cache/
requests-cache.sqlite
